<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Files You Created</title>
</head>
<body>
<h2>Files You Have Uploaded</h2>
<table border="1">
    <thead>
    <tr>
        <th>File Name</th>
        <!--                <th>Uploaded On</th>-->
        <th>Download</th>
        <th>Share</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file : ${files}">
        <td th:text="${file.fileName}"></td>
        <!--                <td th:text="${file.uploadedAt}"></td>-->
        <td><a th:href="@{'/api/files/download/' + ${file.id}}">Download</a></td>
        <td>
            <form th:action="@{'/api/files/share/' + ${file.id}}" method="post">
                <input type="text" name="username" placeholder="Enter friend's username" required/>
                <button type="submit">Share</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>