<div class="container">
    <form class="form-signin mt-xl-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2 class="form-signin-heading">Sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" class="form-control" placeholder="Username" required="" autofocus=""
                formControlName="username" required="">
        </p>
        <p class="password-container">
            <label for="password" class="sr-only">Password</label>
            <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control" placeholder="Password"
                required="" minlength="4" maxlength="20" formControlName="password" required="">
            <button type="button" id="toggle-password" (click)="toggleShowPassword()">
                <i>{{ showPassword ? 'Hide' : 'Show' }}</i>
            </button>
        </p>
        <small class="text-danger" *ngIf="error">{{ error }}</small>

        <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a routerLink="/register" class="btn btn-block btn-light btn-transparent">Don't have an account? Register
            here!</a>
    </form>
</div>