<app-header></app-header>
<div class="welcome-container">
  <h1>Welcome, {{ username }}!</h1>
  <div class="home-content">
    <p class="intro-text">We're glad to have you here! This is your personal space to manage and share files securely.
    </p>
    <div class="features">
      <h2>What You Can Do:</h2>
      <ul>
        <li>Upload and organize your files.</li>
        <li>Share files with others and set access permissions.</li>
        <li>Download files that have been shared with you.</li>
      </ul>
    </div>
    <p class="support-text">If you have any questions or need assistance, feel free to reach out to our support team.
    </p>
  </div>
</div>