<app-header></app-header>
<div class="container mt-4">
    <h2 class="text-center">Created Files</h2>

    <table class="table table-bordered table-hover mt-3">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Filename</th>
                <th>Filetype</th>
                <th>Last modified at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let file of createdFiles">
                <td>{{ file.id }}</td>
                <td>{{ file.name }}</td>
                <td>{{ file.type }}</td>
                <td>{{ file.lastAccess }}</td>
                <td class="text-center">
                    <button class="btn btn-primary btn-sm me-2" (click)="openSharePopup(file.id)">Share</button>
                    <button class="btn btn-danger btn-sm me-2" (click)="delete(file.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="showSharePopup"></div>
    <app-share-popup *ngIf="showSharePopup" (close)="showSharePopup = false"
        (share)="onShare($event)"></app-share-popup>
</div>