<app-header></app-header>
<div class="container mt-4">
  <h2 class="text-center">Files you have access to</h2>

  <table class="table table-bordered table-hover mt-3">
    <thead class="table-dark">
    <tr>
      <th>File Name</th>
      <th>File Type</th>
      <th>Shared by</th>
      <th>Last modified at</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let file of sharedFiles">
      <td>{{ file.name }}</td>
      <td>{{ file.type }}</td>
      <td>{{ file.owner }}</td>
      <td>{{ file.lastAccess }}</td>
      <td>
        <button *ngIf="file.accessTypes && file.accessTypes.includes('VIEW')" class="btn btn-success btn-sm me-2" (click)="open(file.id)">View</button>
        <button *ngIf="file.accessTypes && file.accessTypes.includes('DOWNLOAD')" class="btn btn-primary btn-sm me-2" (click)="download(file.id, file.name)">Download</button>
        <button *ngIf="file.accessTypes && file.accessTypes.includes('EDIT')" class="btn btn-warning btn-sm me-2" (click)="openEditor(file.id)">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
